<!-- index3.html -->
<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Meta tags for character set and responsiveness -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom CSS for styling -->
  <link rel="stylesheet" href="styles.css">

  <!-- Page title -->
  <title>Mi Página Estática</title>
</head>

<body>
    { % block content %}
    <!-- Block de contenido -->
    { % endblock %}

    <!-- Bootstrap JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-JBGCtSHUpv5K1aGFc0deK9fyA8l0/QpibKqqv2A7hOmZApQ/9JlfaO5/D8QH86fP"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JmK8UqoIZlCm+a6j7V4XrJSKkGlcAua8SIcuto9Uq87A/2z6VrDZ4u5c4p+2G8W5"
    crossorigin="anonymous"></script>
</body>

</html>